$primaryRed: #d60505;
$black: #050505;
$mainBlack: #000;
$white: #fff;
$darkText: #888;
$darkBackground: #1d1d1d;
$mainSpacing: 10%;
$glassColor:  rgba(255, 255, 255, 0.052);
$darkGlassColor: rgba(0, 0, 0, 0.507)
